@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --text-color: #000000;
  --text-color-alternate: #1C73A8;

  --text-color-footer: #646464;
  --button-color-blue: #00BAFF;
  --button-color-gray: #646464;
  --container-color: #fff;

  --body-font: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  color:var(--container-color);
}

button .gray{
  background-color: var(--button-color-gray);
}

button .blue{
  background-color: var(--button-color-blue);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}